.lesson {
  margin: 25px 50px;
}

.comments {
  margin: 25px 50px
}

.lesson-info {
  text-align: center;
}

.pdf {
  display: flex;
  justify-content: center;
}

.comment {
  margin: 25px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
}